.light-0 {
  background-color: #a0a0a0;
color: #1a1a1a}

.light-1 {
  background-color: #a8a8a8;
color: #1a1a1a}

.light-2 {
  background-color: #b0b0b0;
color: #1a1a1a}

.light-3 {
  background-color: #b8b8b8;
color: #1a1a1a}

.light-4 {
  background-color: #c0c0c0;
color: #1a1a1a}

.light-5 {
  background-color: #d8d8d8;
color: #1a1a1a}

.light-6 {
  background-color: #e0e0e0;
color: #1a1a1a}

.light-7 {
  background-color: #e8e8e8;
color: #1a1a1a}

.light-8 {
  background-color: #fafafa;
color: #1a1a1a}

.light-9 {
  background-color: #fff;
color: #1a1a1a}

.mid-0 {
  background-color: #606060;
color: #fff}

.mid-1 {
  background-color: #666;
color: #fff}

.mid-2 {
  background-color: #707070;
color: #fff}

.mid-3 {
  background-color: #777;
color: #fff}

.mid-4 {
  background-color: #808080;
color: #fff}

.mid-5 {
  background-color: #888;
color: #fff}

.mid-6 {
  background-color: #909090;
color: #fff}

.mid-7 {
  background-color: #999;
color: #fff}

.mid-8 {
  background-color: #a0a0a0;
color: #fff}

.mid-9 {
  background-color: #a8a8a8;
color: #fff}

.dark-0 {
  background-color: #080808;
color: #fff}

.dark-1 {
  background-color: #101010;
color: #fff}

.dark-2 {
  background-color: #1a1a1a;
color: #fff}

.dark-3 {
  background-color: #202020;
color: #fff}

.dark-4 {
  background-color: #222;
color: #fff}

.dark-5 {
  background-color: #282828;
color: #fff}

.dark-6 {
  background-color: #333;
color: #fff}

.dark-7 {
  background-color: #383838;
color: #fff}

.dark-8 {
  background-color: #444;
color: #fff}

.dark-9 {
  background-color: #484848;
color: #fff}
